@charset "UTF-8";

/* 
    Em HTML é id = em CSS é # (só pode um elemento).
    Em HTML é class = em CSS é (pode vários elementos).
*/

body{
    background-color: #90F4B5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:  #398E4F;
}

h1#principal{
    text-align: center;
    background-color: #398E4F;
    color: white;
}

h2{
    color:  #2B6C3C;
}

.basico{
    color:  #2B6C3C;
}

.intermediario{
    color: #676c2b;   
}

.avancado{
    color:  #6c2b2b;
}

.destaque{
    background-color: rgba(197, 197, 96, 0.501);
}